.game.his {
  .movement-overlay {
    width: 90vw;
    height: 80vh;
    background-image: url(/his/img/backgrounds/Jozef-Brandt-Pospolite-ruszenie-u-brodu.jpeg);
    background-size: cover;
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    user-select: none;
    overflow-y: auto;
  }

  .movement-overlay .help {
    text-align: center;
    background: #0009;
    width: 100%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 0.625rem;
    max-width: 100%;
    padding: 0.833rem;
    line-height: 2.833rem;
  }

  .movement-header {
    background: #0009;
    width: 100%;
    color: white;
    font-size: 2rem;
    max-width: 100%;
    padding: 0.833rem;
    line-height: 2.833rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
  }

  .movement-from {
    background-color: black;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    border-radius: 0.417rem;
    -webkit-text-stroke: 1px goldenrod;
    color: white;
    border: 2px solid goldenrod;
    width: max-content;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .movement-to {
    background-color: goldenrod;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    border-radius: 0.417rem;
    color: black;
    border: 2px solid black;
    width: max-content;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }

  .movement-table {
    display: flex;
    flex-direction: rows;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    column-gap: 4.167rem;
    margin-top: 0.833rem;
    margin-bottom: 4.167rem;
  }

  .movement-source {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    width: 45%;
  }

  .movement-destination {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    width: 45%;
  }

  .movement-unit {
    width: 100%;
    height: 5.833rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    padding: 0.833rem;
    background-color: #0005;
    color: white;
    column-gap: 0.833rem;
    font-size: 1.5rem;
  }

  .movement-unit:hover {
    color: black;
    background-color: #f1f1f1;
  }

  .movement-unit-img {
    height: 4.167rem;
    width: 4.167rem;
    grid-row: 1 / span-2;
    grid-column: 1;
  }

  .movement-unit-type {
    font-weight: bold;
    padding-top: 0.208rem;
    grid-row: 1;
    grid-column: 2;
  }

  .movement-unit-faction {
    font-size: 1.417rem;
    font-style: italic;
    padding-top: 0.208rem;
    grid-row: 2;
    grid-column: 2;
  }

  .movement-unit.regular .movement-unit-img {
    background-image: url('/his/img/tiles/abstract/regular.svg');
    background-size: cover;
  }
  .movement-unit.mercenary .movement-unit-img {
    background-image: url('/his/img/tiles/abstract/mercenary.svg');
    background-size: cover;
  }
  .movement-unit.cavalry .movement-unit-img {
    background-image: url('/his/img/tiles/abstract/cavalry.svg');
    background-size: cover;
  }

  .movement-submit-button {
    border: 1px solid black;
    width: max-content;
    padding: 0.833rem 2.5rem;
    font-size: 1.667rem;
    border-radius: 0.417rem;
    background-color: whitesmoke;
    cursor: pointer;
    height: 5.833rem;
    padding-top: 1.667rem;
    margin-bottom: 1.667rem;
    margin-left: auto;
    margin-right: auto;
  }
  .movement-submit-button:hover {
    border: 1px solid white;
    color: white;
    background: #000;
    margin-bottom: 1.667rem;
  }
}
