.game.his {
  .theses-overlay {
    position: relative;
    height: 90vh;
    width: 90vw;
    overflow: hidden;
  }

  .theses-overlay .status {
    position: relative;
    height: 3.333rem;
    line-height: 3.333rem;
    min-height: 0;
    width: 25rem;
    max-width: 29.167rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    text-align: center;
    font-size: 1.333rem;
  }

  .theses-overlay .controls {
    position: relative;
    float: left;
    clear: both;
    max-height: 80vh;
  }

  .theses-overlay .controls ul {
    overflow-y: auto;
    display: block;
    position: relative;
    background-color: whitesmoke;
    line-height: normal;
    width: 25rem;
    max-width: 29.167rem;
    max-height: 80vh;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding: 0;
    list-style: none;
    clear: both;
    height: auto;
    cursor: pointer;
    min-height: 0;
  }

  .theses-overlay .controls .option {
    box-sizing: border-box;
    min-height: 6.667rem;
    height: 6.667rem;
    font-size: 1.5rem;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.833rem;
    cursor: pointer;
    border-top: 1px solid var(--saito-gray-200);
  }

  .theses-overlay .controls .option:first-child {
    border-top: 0;
  }

  .theses-overlay .controls .option:hover {
    background-color: #e7e7e7;
  }
}
