.game.his {
  .schmalkaldic {
    min-width: 80vw;
    min-height: 80vh;
    border-radius: 1.667rem;
    background-image: url('/his/img/backgrounds/schmalkaldic_league.png');
    background-size: cover;
    padding: 4.167rem;
  }

  .schmalkaldic .title {
    font-size: 3.333rem;
    color: white;
    padding: 0.833rem;
    background-color: #0005;
  }

  .schmalkaldic .text {
    font-size: 2.083rem;
    bottom: 0px;
    position: absolute;
    margin-bottom: 3.333rem;
    padding: 0.833rem;
    background-color: #0005;
    color: white;
    padding: 0.833rem;
    width: 60%;
    line-height: 2.917rem;
    min-width: 700px;
  }

  .schmalkaldic .text ul {
    margin-left: 3.333rem;
    padding-top: 1.667rem;
    padding-bottom: 1.667rem;
  }
}
