.game.his {
  .diplomacy-confirm-overlay,
  .diplomacy-propose-overlay {
    background-image: url(/his/img/backgrounds/diplomacy/ambassadors.jpeg);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
    min-height: 622px;
    text-align: center;
    overflow-y: auto;
    padding-top: 4.167rem;
  }

  .diplomacy-propose-overlay .content ol li ul {
    display: flex;
    flex-direction: column;
    font-size: 1.667rem;
    row-gap: 1.042rem;
    column-gap: 3.333rem;
  }
  .diplomacy-propose-overlay .content ol {
    margin-left: 0.833rem;
    display: flex;
    flex-direction: column;
    font-size: 1.667rem;
    row-gap: 1.042rem;
    column-gap: 3.333rem;
  }

  .diplomacy-propose-overlay .menu {
    min-height: min-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.833rem;
    column-gap: 0.833rem;
    padding: 0.833rem;
  }

  .diplomacy-confirm-overlay .help,
  .diplomacy-propose-overlay .help {
    background: #0009;
    width: max-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 0.625rem;
    max-width: 100%;
    padding: 1.667rem;
    line-height: 2.833rem;
    margin-bottom: 1.667rem;
  }

  .diplomacy-confirm-overlay .content,
  .diplomacy-propose-overlay .content {
    padding: 1.25rem;
    width: max-content;
    font-size: 1.667rem;
    margin-top: 1.667rem;
    margin-bottom: 1.667rem;
    background-color: #0009;
    color: white;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    font-size: 1.5rem;
  }

  .diplomacy-confirm-overlay .content ul {
    display: flex;
    flex-direction: column;
    column-gap: 1.667rem;
    row-gap: 0.833rem;
    font-size: 1.667rem;
  }

  .diplomacy-confirm-overlay .content ul li,
  .diplomacy-propose-overlay .content ul li {
    list-style: none;
  }

  .diplomacy-confirm-overlay .buttons,
  .diplomacy-propose-overlay .buttons {
    display: flex;
    column-gap: 8.333rem;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    min-width: 25rem;
  }

  .diplomacy-propose-overlay .menu .menu-option-container .menu-option-image img {
    max-height: 16.667rem;
  }

  .diplomacy-confirm-overlay .buttons div,
  .diplomacy-propose-overlay .buttons div {
    border: 1px solid black;
    width: max-content;
    padding: 0.833rem 2.5rem;
    font-size: 1.667rem;
    border-radius: 0.417rem;
    background-color: whitesmoke;
    cursor: pointer;
    height: 5.833rem;
    padding-top: 1.667rem;
    margin-bottom: 1.667rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 13.333rem;
  }
  .diplomacy-confirm-overlay .buttons div:hover,
  .diplomacy-propose-overlay .buttons div:hover {
    border: 1px solid white;
    color: white;
    background: #000;
    margin-bottom: 1.667rem;
  }
}
