.game.his {
  .chateaux-overlay {
    background-image: url(/his/img/backgrounds/chateaux.png);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: auto;
    min-height: 622px;
    text-align: center;
  }

  .chateaux-overlay .help {
    background: #0009;
    width: 100%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 0.625rem;
    max-width: 100%;
    padding: 1.667rem;
    line-height: 2.833rem;
  }

  .chateaux-overlay .bonuses {
    margin-top: 2.083rem;
    padding: 1.667rem;
    background-color: #0009;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    column-gap: 0.833rem;
    font-size: 1.667rem;
  }

  .chateaux-overlay .header {
    font-weight: heavy;
  }

  .chateaux-overlay div {
    margin-top: 0.833rem;
  }

  .chateaux-overlay .modifier {
    grid-column: 1 / span 3;
    text-align: center;
    font-style: italic;
    padding: 0.417rem;
    margin-top: 0rem;
    font-size: 1.25rem;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }

  .chateaux-overlay .modifier.modifier1 {
    margin-top: 2.5rem;
  }
}
