.game.his {
  .winter {
    min-width: 90vw;
    min-height: 90vh;
    border-radius: 1.667rem;
    background-image: url('/his/img/backgrounds/winter_background.jpg');
    background-size: cover;
    background-position: bottom;
  }

  .winter-title {
    top: 0px;
    color: white;
    line-height: 4.167rem;
    font-size: 3.333rem;
    position: absolute;
    margin-top: 4.167rem;
    margin-left: 4.167rem;
    padding: 0.833rem;
    letter-spacing: 0.167rem;
    font-weight: bold;
    padding-left: 1.667rem;
    padding-right: 1.667rem;
    background: #0008;
  }

  .winter-text {
    bottom: 0px;
    color: white;
    line-height: 4.167rem;
    font-size: 2.5rem;
    position: absolute;
    margin-left: 4.167rem;
    margin-bottom: 4.167rem;
    padding: 0.833rem;
    background: #0008;
    padding-left: 1.667rem;
    padding-right: 1.667rem;
  }

  .winter-text ul {
    margin-left: 0rem;
  }
  .winter-text ul li {
    position: relative;
    padding-left: 2.5rem;
    list-style: none;
  }
  .winter-text ul li::before {
    content: ' > ';
    position: absolute;
    left: 0;
  }

  .winter-text ul li.active {
    font-weight: bold;
    color: #e69500;
  }
}
