.game.his {
  .units {
    max-width: 80vw;
    min-width: 80vw;
    max-height: 80vh;
    min-height: auto;
    overflow: auto;
  }

  .units-title {
    background: #0009;
    width: 100%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    max-width: 100%;
    padding: 1.667rem;
    line-height: 2.833rem;
    text-align: center;
  }

  .units-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    margin-top: 3.333rem;
    background: #0009;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0.833rem;
  }

  .units-faction {
    font-size: 1.667rem;
    padding: 1.667rem;
    color: white;
  }

  .units-faction-available {
    margin-top: 2.5rem;
  }

  .units-faction-available .army_tile {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
  }
}
