.game.his {
  .diplomacy-overlay {
    background-image: url(/his/img/backgrounds/diplomacy/ambassadors.jpeg);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: 90vh;
    min-height: 622px;
    display: flex;
    flex-direction: rows;
    padding: 1.667rem;
    flex-wrap: nowrap;
    row-gap: 0.833rem;
    column-gap: 0.833rem;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow-y: auto;
  }

  .diplomacy-overlay .left .status2 {
    line-height: 1.667rem;
    font-size: 1.333rem;
    text-align: center;
  }
  .diplomacy-overlay .left .status2 ul {
    width: 100%;
    background-color: whitesmoke;
    overflow-y: auto;
  }
  .diplomacy-overlay .left .status2 ul li,
  .diplomacy-overlay .left .status2 .status-text-menu li {
    cursor: pointer;
    padding: 15px;
    list-style: none;
    background-color: whitesmoke;
  }
  .diplomacy-overlay .left .status2 ul li:hover,
  .diplomacy-overlay .left .status2 .status-text-menu li:hover {
    background-color: #e7e7e7;
  }

  .diplomacy-overlay .left .status2 {
    position: relative;
    height: 3.333rem;
    line-height: 3.333rem;
    min-height: 0;
    width: 25rem;
    max-width: 29.167rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    margin-bottom: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
  }

  .diplomacy-overlay .left {
    width: 100%;
  }

  .diplomacy-overlay .right {
    width: 100%;
    height: 100%;
  }

  .diplomacy-overlay .left .controls2 {
    height: max-content;
    margin-top: 0.833rem;
    width: 25rem;
    max-width: 29.167rem;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    border-radius: 0.833rem;
  }
  .diplomacy-overlay .left .controls2 ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    font-size: 1.333rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.833rem;
    margin-top: 0.833rem;
    position: relative;
  }
  .diplomacy-overlay .left .controls2 ul li {
    background-color: whitesmoke;
    height: 6.667rem;
    border-top: 1px solid var(--saito-border);
    width: 100%;
    font-size: 1.5rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 0.833rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
  }

  .diplomacy-overlay .right .help {
    background: #0009;
    padding: 1rem;
    color: white;
    font-size: 1.417rem;
    margin-top: 0.833rem;
    text-transform: capitalize;
  }

  .diplomacy-overlay .right .proposals {
    background: #0009;
    padding: 1rem;
    color: white;
    font-size: 1.417rem;
    margin-top: 0.833rem;
    height: 80%;
  }

  .diplomacy-overlay .right .submit {
    background-color: whitesmoke;
    height: 4.167rem;
    border-top: 1px solid var(--saito-border);
    width: 100%;
    font-size: 1.5rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 0.833rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.833rem;
    border-radius: 0.833rem;
    border: 1px dashed #c0c0c0;
  }

  .proposal-target-faction {
    margin-bottom: 0.833rem;
  }

  .proposal-group-level {
    margin-left: 1.667rem;
    list-style: auto;
  }

  .proposal-group-level div {
    margin-bottom: 0.833rem;
  }

  .proposal-term-level {
    margin-left: 0.833rem;
  }

  .proposal-add-term {
    margin-bottom: 0.833rem;
    cursor: pointer;
    border-bottom: 1px dashed whitesmoke;
    width: max-content;
  }

  .proposals ol li {
    margin-bottom: 0.208rem;
  }

  .diplomacy-overlay .menu-option-container {
    width: 28vw;
  }

  .proposal-close {
    float: right;
    display: inline;
    cursor: pointer;
    padding: 0.833rem;
    padding-top: 0px;
  }
}
