.game.his {
  .game-help {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 25rem;
    height: 16.667rem;
    background: #ff7700;
    overflow: hidden;
    color: #fff;
    padding-left: 30px;
    line-height: 22px;
    bottom: 0px;
    left: 0px;
    transform: skew(+55deg);
    margin-left: -20rem;
    z-index: 999;
  }

  .game-help:hover {
    background: #ee6600;
  }

  .game-help-hidden {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s 1s,
      opacity 1s linear;
  }

  .game-help-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

  .game-help-text {
    font-size: 2.25rem;
    padding-top: 10rem;
    margin-left: 19.167rem;
    transform: skew(-55deg);
    width: 13.333rem;
    min-width: 8.333rem;
    overflow: visible;
    line-height: 2.917rem;
    letter-spacing: 0.083rem;
    font-weight: bold;
  }
}
