.game.his {
  .theses-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
  }

  .theses-overlay .status {
    position: relative;
    height: 3.333rem;
    line-height: 3.333rem;
    min-height: 0;
    width: 25rem;
    max-width: 29.167rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
  }

  .theses-overlay .controls {
    max-height: 80vh;
  }

  .theses-overlay .controls ul {
    overflow-y: auto;
    display: block;
    position: relative;
    background-color: whitesmoke;
    line-height: 3.333rem;
    width: 25rem;
    max-width: 29.167rem;
    max-height: 80vh;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    clear: both;
    min-height: max-content;
    height: auto;
    cursor: pointer;
  }

  .theses-overlay .status .status-header {
    box-shadow: none;
    margin-bottom: 0px;
  }

  .theses-overlay .status .message {
    padding: 0.833rem;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .theses-overlay .status ul {
    margin-top: 0.833rem;
    background-color: whitesmoke;
    border-radius: 0.417rem;
  }

  .theses-overlay .status ul {
    list-style: none;
  }

  .theses-overlay .status ul .option {
    padding: 1.25rem;
    cursor: pointer;
  }
  .theses-overlay .status ul .option:hover {
    background: #ddd;
  }

  .theses-overlay .gameboard {
    position: relative;
  }

  .theses-overlay .status .status-text-menu ul .textchoice {
    background-color: whitesmoke;
    padding: 1.25rem;
    border-radius: 0.417rem;
  }

  .zoom-german {
    transform: translate(-42%, -20%) scaleX(0.7) scaleY(0.7);
  }
  .zoom-english {
    transform: translate(-24%, -15%) scaleX(0.7) scaleY(0.7);
  }
  .zoom-french {
    transform: translate(-32%, -35%) scaleX(0.6) scaleY(0.6);
  }
  .zoom-spanish {
    transform: translate(-29%, -53%) scaleX(0.6) scaleY(0.6);
  }
  .zoom-italian {
    transform: translate(-49%, -44%) scaleX(0.6) scaleY(0.6);
  }
  .zoom-ottoman {
    transform: translate(-60%, -46%) scaleX(0.6) scaleY(0.6);
  }
}
