.game.his {
  .naval-movement-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
    overflow-y: scroll;
    background-image: url(/his/img/backgrounds/mediterranean.jpg);
    background-size: cover;
    min-width: 90vw;
  }
  .naval-movement-overlay {
    display: flex;
    justify-content: right;
  }
  .naval-movement-overlay .origin + .destination {
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin-right: 4.167rem;
    margin-top: 4.167rem;
  }

  .scontrols ul li,
  .dcontrols ul li {
    background-color: whitesmoke;
    height: 6.667rem;
    border-top: 1px solid var(--saito-border);
    width: 100%;
    font-size: 1.5rem;
    display: list-item;
    list-style: none;
    cursor: pointer;
    padding: 0.833rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .naval-movement-overlay .sstatus {
    width: 20.833rem;
    max-width: 20.833rem;
    text-align: center;
    line-height: 3.333rem;
    position: relative;
    height: 3.333rem;
    min-height: 0;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 4.167rem;
    margin-top: 0.833rem;
    padding-left: 0.417rem;
    padding-right: 0.417rem;
  }

  .naval-movement-overlay .scontrols ul,
  .naval-movement-overlay .dcontrols ul {
    display: block;
    position: relative;
    background-color: whitesmoke;
    line-height: 3.333rem;
    width: 20.833rem;
    max-width: 29.167rem;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 4.167rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    clear: both;
    min-height: max-content;
    max-height: max-content;
    height: auto;
    cursor: pointer;
  }

  .naval-movement-overlay .sstatus .status-header {
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0.833rem;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .naval-movement-overlay .sstatus .status-text-menu {
    background-color: whitesmoke;
    margin-top: 0.833rem;
    width: min(500px, 100%);
    overflow-y: auto;
    font-size: 1.333rem;
  }
  .naval-movement-overlay .status-text-menu ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    font-size: 1.333rem;
  }
  .naval-movement-overlay .status-text-menu ul li {
    padding: 1.25rem;
  }

  .naval-movement-overlay .status-header .status-message {
    position: relative;
    width: 45vw;
    max-width: 100%;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.167rem;
    background-color: #0009;
  }

  .naval-movement-overlay {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}
