.game.his {
  .spring-deployment-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
    background-image: url(/his/img/backgrounds/spring-deployment.jpeg);
    background-size: cover;
  }

  .spring-deployment-overlay.hapsburg {
    background-image: url(/his/img/backgrounds/spring-deployment/sd-hapsburg.jpg);
  }
  .spring-deployment-overlay.papacy {
    background-image: url(/his/img/backgrounds/spring-deployment/sd-papacy.png);
    width: 90vw !important;
    max-width: 90vw !important;
  }
  .spring-deployment-overlay.england {
    background-image: url(/his/img/backgrounds/spring-deployment/sd-england.png);
  }
  .spring-deployment-overlay.france {
    background-image: url(/his/img/backgrounds/spring-deployment/sd-france.png);
  }
  .spring-deployment-overlay.ottoman {
    background-image: url(/his/img/backgrounds/spring-deployment/sd-ottoman.png);
  }

  .spring-deployment-overlay .instructions {
    position: absolute;
    bottom: 0px;
    background: #0009;
    font-size: 2.25rem;
    padding: 1.667rem;
    color: white;
    margin-bottom: 4.167rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 80%;
    left: 10%;
    border-radius: 0.833rem;
    line-height: 3.083rem;
  }

  .spring-deployment-overlay .status {
    line-height: 3.333rem;
    position: relative;
    height: 3.333rem;
    min-height: 0;
    width: 20.833rem;
    max-width: 20.833rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 4.167rem;
    margin-top: 4.167rem;
    padding-left: 0.417rem;
    padding-right: 0.417rem;
  }

  .spring-deployment-overlay .controls ul {
    display: block;
    position: relative;
    background-color: whitesmoke;
    line-height: 3.333rem;
    width: 20.833rem;
    max-width: 29.167rem;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 4.167rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    clear: both;
    min-height: max-content;
    max-height: max-content;
    height: auto;
    cursor: pointer;
  }

  .spring-deployment-overlay .status .status-header {
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0.833rem;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .spring-deployment-overlay .status .status-text-menu {
    background-color: whitesmoke;
    margin-top: 0.833rem;
    width: min(500px, 100%);
    overflow-y: auto;
    font-size: 1.333rem;
  }
  .spring-deployment-overlay .status-text-menu ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    font-size: 1.333rem;
  }
  .spring-deployment-overlay .status-text-menu ul li {
    padding: 1.25rem;
  }

  .spring-deployment-overlay .status-header .status-message {
    position: relative;
    width: 45vw;
    max-width: 100%;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.167rem;
    background-color: #0009;
  }
}
