/*-------------------- CLASSIC DARK THEME -------------------- */

html[data-theme='dark'] {
  /*BASE COLOR SECTION*/
  --saito-background-color: #1c1c23;
  --saito-background-color-inverse: #e2e2e6;
  --saito-header-background: var(--saito-background-color);

  --saito-surface-color: rgba(255, 255, 255, 0.04);
  --saito-surface-text: var(--saito-font-color);
  --saito-surface-hover: rgba(255, 255, 255, 0.07);
  --saito-surface-selected: rgba(255, 255, 255, 0.12);
  --saito-surface-inverse: var(--saito-background-color-inverse);
  --saito-surface-inverse-text: var(--saito-font-color-inverse);

  /*FONTS SECTION*/
  --saito-font-color-primary: var(--saito-gray-150);
  --saito-font-color-heavy: var(--saito-gray-050);
  --saito-font-color-secondary: var(--saito-gray-350); /* also --saito-font-color-light */
  --saito-font-color-inverse: var(--saito-gray-850);

  /*TINTS COLOR SECTION*/
  --saito-highlight: #ccc1;
  --saito-highlight-heavy: #8885;

  /* BORDER COLORS */
  --saito-border-color: var(--saito-border-color-dark);
  --border-color-general-dividers: var(--saito-gray-550);

  --saito-box-shadow:
    0px 12px 17px 2px #00000024, 0px 5px 22px 4px #0000001f, 0px 7px 8px -4px #00000033;
}
