body > .faucet {
  margin: 150px auto 0;
}

.faucet p {
  font-size: 1.8rem;
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.faucet button {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.faucet-spinner {
  display: none;
}

.faucet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.saito-faucet-button {
  font-size: 2.4rem;
  min-width: 60px;
}
