.game.chess {
  .game-playerbox-manager {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100%;
    justify-content: space-around;
    padding: 4.167rem 0.833rem 4.167rem 2.5rem;
    position: relative;
    right: unset;
    top: unset;
  }

  .game-playerbox {
    background: #f9efdf;
    border-radius: 5px;
    box-shadow: 0 2px 3px 2px #644b37;
    color: black;
    min-height: 8.333rem;
    border: 2px solid transparent;
    width: 23.333rem;
    max-width: unset;
    padding: 15px;
    border: 0px solid transparent;
  }

  .game-playerbox.active {
    border: 2px solid black;
    padding: 10px;
    border: 5px solid darkorange;
  }

  .game-playerbox.in_check {
    border: 5px solid red;
  }

  .game-playerbox-head {
    padding: 5px 0;
  }

  .game-playerbox-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'a b' 'c c' 'd d';
    margin: 0rem;
    gap: 0.833rem;
  }

  .game-playerbox-body div:nth-child(3) {
    grid-area: c;
  }
  .game-playerbox-body div:nth-child(4) {
    grid-area: d;
  }

  .game-playerbox-body > div {
    width: 100%;
  }

  .trophies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .status ul li.textchoice {
    border-top: 1px solid;
    cursor: pointer;
    padding: 0.417rem;
  }

  .status ul li.textchoice:hover {
    background-color: #b58863;
  }

  @media screen and (orientation: portrait) and (max-width: 900px) {
    .game-playerbox-manager {
      display: grid;
      width: min(60vh, 100vw, 900px);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content;
      justify-content: space-between;
      bottom: 1.667rem;
      top: unset;
      right: unset;
      gap: 0.833rem;
      position: absolute;
      height: max-content;
      justify-items: center;
      max-width: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.833rem;
    }

    .game-playerbox {
      min-width: unset;
      width: 100%;
    }
  }
}
