.game.paths {
  .tutorial-overlay {
    background-image: url(/paths/img/backgrounds/fort1_wwi.jpg);
    background-size: cover;
    max-height: 90vh;
    max-width: 90vw;
    width: 90vw;
    height: auto;
    min-height: 622px;
    text-align: center;
    color: white;
    overflow-y: auto;
  }

  .tutorial-overlay .help {
    background: #0009;
    width: max-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 0.625rem;
    max-width: 100%;
    padding: 1.667rem;
    line-height: 2.833rem;
  }

  .tutorial-overlay .content {
    background: #0009;
    width: max-content;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75rem;
    max-width: 90%;
    padding: 1.667rem;
    line-height: 3.333rem;
    text-align: left;
    margin-top: 1.667rem;
    overflow-y: auto;
  }

  .tutorial-overlay .content p {
    margin-top: 1.25rem;
  }
}
