.game.paths {
  .reserves-overlay {
    min-width: 1000px;
    min-height: 540px;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 1.667rem;
    background-image: url('/paths/img/CombatTables.png');
    background-size: cover;
  }
  .reserves-overlay .controls {
    margin-top: 0px;
  }
  .reserves-overlay .units {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.833rem;
    column-gap: 0.833rem;
    padding-top: 16.667rem;
    padding: 4.167rem;
    padding-top: 20rem;
  }
  .reserves-overlay .units .army-tile {
    height: 8.333rem;
    width: 8.333rem;
    position: relative;
  }
  .reserves-overlay.allies {
    background-image: url('/paths/img/backgrounds/allies-reserve-box.png');
    height: auto;
    width: 80%;
    aspect-ratio: 1000 / 570;
  }
  .reserves-overlay.central {
    background-image: url('/paths/img/backgrounds/central-reserve-box.png');
    height: auto;
    width: 80%;
    aspect-ratio: 1000 / 540;
  }
}
