.game.paths {
  .constantinople2 {
    top: 2100px !important;
    left: 3655px !important;
  }
  .bursa2 {
    top: 2245px !important;
    left: 3665px !important;
  }

  .space-overlay {
    min-width: 600px;
    min-height: 500px;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 1.667rem;
    background-color: white;
    background-size: cover;
    overflow-y: auto;
    padding: 2.083rem;
  }

  .option.crbox,
  .option.arbox,
  .option.ceubox,
  .option.aeubox {
    top: unset;
    left: unset;
  }

  .space-overlay .name {
    font-size: 3.333rem;
  }

  .space-overlay .units {
    margin-top: 0.833rem;
    clear: both;
    display: flex;
    flex-direction: row;
    min-height: max-content;
    column-gap: 0.833rem;
    row-gap: 0.833rem;
  }

  .space-overlay .control {
    border-radius: unset;
    position: relative;
    font-size: 1.333rem;
    justify-content: space-around;
    height: min-content;
    min-height: fit-content;
    text-align: center;
    cursor: default;
  }

  .ceubox .army-tile,
  .aeubox .army-tile {
    top: 0px !important;
    left: 0px !important;
  }

  .space-overlay .units .army-tile {
    position: relative;
  }

  .space-overlay .units img {
    max-height: 100px;
    max-width: 100px;
  }

  .space-overlay .status {
    margin-top: 0.833rem;
    font-size: 1.333rem;
  }
}
