.game.paths {
  .vp-overlay {
    width: 90vw;
    height: auto;
    max-height: 90vh;
    padding: 1.667rem;
    font-size: 1.667rem;
    background-image: url('/paths/img/backgrounds/trench.png');
    background-size: cover;
    background: #f4f4f4;
    padding: 1em;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-y: auto;
  }
}
