.game.paths {
  .zoom-overlay {
    height: 90vh;
    width: 90vw;
    overflow: hidden;
  }

  .zoom-overlay .status {
    position: relative;
    height: 3.333rem;
    line-height: 3.333rem;
    min-height: 0;
    width: 25rem;
    max-width: 29.167rem;
    background-color: whitesmoke;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
  }

  .zoom-overlay .controls {
    max-height: 80vh;
  }

  .zoom-overlay .last {
    position: absolute;
    height: 8.333rem;
    width: 8.333rem;
    top: 45%;
    background-color: red;
    left: 4.167rem;
    z-index: 999;
  }
  .zoom-overlay .last i {
    font-size: 8.333rem;
    padding-right: 1.667rem;
  }
  .zoom-overlay .next i {
    font-size: 8.333rem;
    padding-left: 1.667rem;
  }

  .zoom-overlay .next {
    position: absolute;
    height: 8.333rem;
    width: 8.333rem;
    top: 45%;
    background-color: red;
    right: 4.167rem;
    z-index: 999;
  }
  .zoom-overlay .right {
  }
  .zoom-overlay .controls ul {
    overflow-y: auto;
    display: block;
    position: relative;
    background-color: whitesmoke;
    line-height: 3.333rem;
    width: 25rem;
    max-width: 29.167rem;
    max-height: 80vh;
    z-index: 10;
    border-radius: 0.833rem;
    top: 0px;
    left: 0px;
    white-space: nowrap;
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.833rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
    clear: both;
    min-height: max-content;
    height: auto;
    cursor: pointer;
    overflow-y: scroll;
    min-height: 100%;
  }

  .zoom-overlay .status .status-header {
    box-shadow: none;
    margin-bottom: 0px;
  }

  .zoom-overlay .status .message {
    padding: 0.833rem;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .zoom-overlay .status ul {
    margin-top: 0.833rem;
    background-color: whitesmoke;
    border-radius: 0.417rem;
  }

  .zoom-overlay .status ul {
    list-style: none;
  }

  .zoom-overlay .status ul .option {
    padding: 1.25rem;
    cursor: pointer;
  }
  .zoom-overlay .status ul .option:hover {
    background: #ddd;
  }

  .zoom-overlay .gameboard {
    position: relative;
  }
}
