.game.imperium {
  .agenda-selection-overlay {
    display: grid;
    color: white;
    width: 80vw;
    min-width: 62.5rem;
    max-width: 1200px;
    height: max-content;
    column-gap: 1.667rem;
    row-gap: 1.667rem;
    padding: 3.333rem;
    background-color: #0007;
    border-radius: 0.833rem;
    grid-template-rows: min-content 1fr;
    width: min-content;
    justify-items: center;
    align-items: baseline;
  }

  .agenda-selection-title {
    margin-left: auto;
    margin-right: auto;
    font-family: 'bank-gothic';
    letter-spacing: 0.625rem;
    font-size: 4.167rem;
    width: max-content;
  }

  .agenda-selection-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.667rem;
    width: max-content;
    max-width: 80vw;
    min-width: 1000px;
  }

  .agenda-selection-cards .overlay_agendacard:hover {
    transform: scale(1.1);
  }
}
