.game.imperium {
  .influence-selection-overlay {
    display: block;
    width: 90vw;
    height: auto;
    max-height: 90vh;
    background-image: url(/imperium/img/backgrounds/space_background.jpg);
    background-size: cover;
    padding: 1.667rem;
  }

  .influence-selection-title {
    font-size: 1.833rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'bank-gothic';
  }

  .influence-selection-cards {
    display: flex;
    flex-direction: rows;
    flew-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.333rem;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
  }

  .influence-selection-goods {
    text-align: center;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 12.5rem;
    font-size: 3.333rem;
    padding-top: 4.583rem;
    font-family: 'orbitron-medium';
    color: white;
    background-color: #000a;
    border-radius: 0.833rem;
    margin-top: 3.333rem;
  }

  .resource-selection-overlay {
    display: block;
    width: 90vw;
    height: auto;
    max-height: 90vh;
    background-image: url(/imperium/img/backgrounds/space_background.jpg);
    background-size: cover;
    padding: 1.667rem;
  }

  .resource-selection-title {
    font-size: 4.167rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'bank-gothic';
  }

  .resource-selection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20.833rem, 1fr));
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.333rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .resource-selection-goods {
    text-align: center;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: 12.5rem;
    font-size: 3.333rem;
    padding-top: 4.583rem;
    font-family: 'orbitron-medium';
    color: white;
    background-color: #000a;
    border-radius: 0.833rem;
    margin-top: 3.333rem;
  }
}
