.game.imperium {
  .agenda-card {
    background-image: url(/imperium/img/cards/agenda.png);
    background-size: cover;
    height: 40vh;
    width: calc(40vh * 0.7211);
    color: white;
    padding: 1.5vw;
    background-size: cover;
    margin: 5px 10px;
    font-size: 0.833rem;
  }

  .agenda-card-title {
    font-family: 'orbitron-medium', helvetica, arial;
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.25;
    margin-bottom: 0.833rem;
  }

  .agenda-card-content {
    font-family: 'orbitron-light', helvetica, arial;
    font-weight: normal;
    font-size: 1.15rem;
    line-height: 1.45;
    text-align: center;
  }

  .saito-overlay:has(> .agenda-overlay) {
    z-index: 103;
    display: flex;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: 85vh;
    justify-content: space-between;
  }

  .agenda-overlay {
    display: flex;
    flex-direction: row;
    gap: 1.667rem;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }
}
