.game.imperium {
  .imperium-dashboard {
    display: inline-flex;
    column-gap: 1.25rem;
  }

  .dashboard {
    display: inline-flex;
    position: absolute;
    z-index: 9;
    color: #fff;
    background: transparent;
    margin-top: 4.583rem;
    margin-left: 0.833rem;
  }

  .dash-faction {
    display: flex;
    flex-direction: column;
    grid-gap: 0.167rem;
    cursor: pointer;
    user-select: none;
    width: max-content;
    row-gap: 0.417rem;
  }

  .dash-faction-name {
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding-top: 0.417rem;
    padding-bottom: 0.208rem;
    font-family: 'orbitron-medium';
    font-size: 1.333rem;
  }

  .dash-faction-info {
    display: flex;
    flex-direction: row;
    height: max-content;
    padding-left: 0.25rem;
    justify-content: space-around;
  }

  .dash-item.resources {
    background-image: url(/imperium/img/blank_resources_hex.png);
    background-size: cover;
    height: 4.167rem;
    width: 4.708rem;
    font-size: 2.917rem;
  }

  .dash-item.influence {
    background-image: url('/imperium/img/blank_influence_hex.png');
    background-size: cover;
    height: 4.167rem;
    width: 4.708rem;
    color: #c16400;
    font-size: 2.917rem;
  }

  .dash-item.trade {
    display: flex;
    position: relative;
    height: 4.167rem;
    width: 4.708rem;
    font-size: 4.167rem;
    padding-left: 0.333rem;
    z-index: 1001;
  }

  .dash-item .avail {
    transform: translateY(-0.2em);
    display: inline-block;
    color: white;
  }

  .dash-item .total,
  .dash-item .limit {
    transform: translateY(0.2em);
    display: none;
    opacity: 0.7;
  }

  .dash-item-goods {
    position: relative;
    top: -1.833rem;
    left: -2.917rem;
    font-size: 3.333rem;
  }

  .dash-faction-base {
    background-color: #000;
    opacity: 0.95;
    color: white;
    text-weight: bold;
    padding-top: 0.208rem;
    padding-bottom: 0.208rem;
  }

  .speaker {
    background-color: red;
    color: white;
    font-size: 1.333rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-family: 'bank-gothic';
    letter-spacing: 0.083rem;
    padding-bottom: 0.417rem;
    padding-top: 0.417rem;
    padding-left: 0.833rem;
    padding-right: 0.833rem;
  }

  .dash-faction-status {
    border: 1px solid #c16400;
    background-color: green;
    height: 0.833rem;
    width: 1.667rem;
    margin-right: 0.417rem;
    margin-left: 0.417rem;
    margin-top: 0.417rem;
    float: left;
  }

  .dash-faction-status-text {
    padding-top: 0.208rem;
    font-family: 'orbitron-medium';
    letter-spacing: 0.083rem;
    width: 16.667rem;
    font-size: 1.167rem;
  }

  .dash-faction-agenda {
    font-weight: bold;
    font-size: 4em;
    color: white;
    background: #0004;
    text-align: center;
  }

  .dash-item {
    width: 3em;
    line-height: 1.9em;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px #000a;
  }

  .dash-faction-action {
    text-align: center;
    font-size: large;
    color: #fff;
  }

  .dash-item {
    color: #fff;
    position: relative;
  }
}
