.game.imperium {
  .how-to-trade-overlay {
    display: grid;
    color: white;
    width: 80vw;
    min-width: 62.5rem;
    max-width: 1200px;
    height: max-content;
    column-gap: 1.667rem;
    row-gap: 1.667rem;
    padding: 3.333rem;
    background-color: #0007;
    border-radius: 0.833rem;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    justify-items: center;
    align-items: baseline;
  }

  .how-to-trade-overlay > .title {
    margin-left: auto;
    margin-right: auto;
    font-family: 'bank-gothic';
    letter-spacing: 0.625rem;
    font-size: 4.167rem;
    width: max-content;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .how-to-trade-tutorial {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  .how-to-trade-tutorial li {
    margin-bottom: 1.667rem;
    margin-left: 1.667rem;
    padding-left: 0.833rem;
    font-size: 1.5rem;
  }

  .how-to-trade-tutorial li:nth-child(3) {
    margin-bottom: 0px;
  }

  .how-to-trade-tutorial .title {
    font-family: unset;
    font-weight: bold;
    margin-bottom: 0.417rem;
    font-size: 1.5rem;
    font-family: 'orbitron-light', helvetica, arial;
    text-transform: uppercase;
    width: auto;
    letter-spacing: 0.083rem;
  }

  .how-to-trade-tutorial .desc {
    font-family: unset;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .how-to-trade-example {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    width: 21.667rem;
    min-width: 21.667rem;
    max-width: 21.667rem;
    line-height: 1.833rem;
    font-size: 1.333rem;
  }

  .how-to-trade-example-desc {
    font-size: 1.333rem;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .how-to-trade-example .unit .unit-description {
    visibility: hidden;
  }

  .how-to-trade-example .unit {
    margin-top: 0rem;
    padding-top: 0rem;
  }
}
