.game.imperium {
  .production-overlay {
    height: 90vh;
    max-height: 90vh;
    width: 90vw;
    max-width: 90vw;
    display: block;
    background-image: url(/imperium/img/backgrounds/starscape-background4.jpg);
    background-size: cover;
    color: white;
    padding: 1.667rem;
  }

  .production-table {
    column-gap: 2.5rem;
    row-gap: 1.667rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .production-header {
    display: grid;
    grid-template-columns: auto min-content;
    border-bottom: 1px solid #ddd5;
    column-gap: 1.667rem;
    padding: 0.833rem;
  }

  .production-description {
    font-size: 1.75rem;
    line-height: 3.333rem;
    min-height: 10rem;
  }

  .production-button {
    width: 10rem;
    height: 5.833rem;
    text-align: center;
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 3.958rem;
  }

  .unit-description.highlight {
    color: black;
    background-color: yellow;
  }

  .production-table .unit:hover {
    background-color: #0009;
  }

  .production-table .unit .unit-description {
    clear: both;
    padding-left: 0.833rem;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 2.5rem;
    line-height: 1.7em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    font-family: 'bank-gothic';
    font-size: 1.417rem;
    margin-bottom: 0.208rem;
  }

  .unit.square {
    width: 21.667rem;
    padding: 0.833rem;
  }

  .unit.square .unit-ship {
    height: 6.75rem;
    width: 13.333rem;
    background-size: contain;
  }

  .unit.square div:nth-child(1) {
    grid-column: 1 / span 3;
  }
  .unit.square div:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .unit.square div:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    color: black;
    background-color: goldenrod;
  }
  .unit.square div:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .unit.square div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .unit.square div:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}
