.game.imperium {
  .factionbar {
    display: flex;
    flex-direction: row;
    margin-top: -0.417rem;
    font-family: var(--imp-font);
    gap: var(--imp-space-sm);
  }

  .factionbar .sf-readable {
    font-size: var(--imp-fs);
  }

  .hud-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--imp-space-sm);
  }
}
