.game.imperium {
  .strategy-card-overlay {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: min-content;
    max-height: 90vh;
    justify-content: space-around;
    overflow-y: auto;
  }

  .strategy-card-overlay .strategy-card {
    width: 18vw;
    height: calc(18vw * 1484 / 1060);
    font-size: 1vw;
    line-height: 1.8vw;
  }

  .strategy-card {
    width: 25vw;
    height: calc(25vw * 1484 / 1060);
    font-size: 1.6vw;
    line-height: 3vw;
    padding: 0vw;
    position: absolute;
    font-family: 'orbitron-medium', helvetica, sans-serif;
    display: block;
    position: relative;
    color: whitesmoke;
    cursor: pointer;
  }

  .strategy-card img {
    position: absolute;
    height: inherit;
    width: inherit;
  }

  .strategy-card .picked {
    position: relative;
    padding: 0.833rem;
    padding-left: 1.667rem;
    padding-right: 1.667rem;
    width: min-content;
    z-index: 9000;
    color: white;
    border-bottom-right-radius: 0.417rem;
  }

  .strategy-card .bonus {
    position: relative;
    bottom: 0px;
    left: 75%;
    font-size: 3em;
    color: gold;
    float: right;
    width: 100%;
  }
}
