.game.imperium {
  .voting-hud {
    height: auto;
    min-height: 0;
    max-height: none;
    bottom: 1.5rem !important;
    top: auto !important;
  }

  .voting-hud .hud-status {
    height: auto;
    min-height: 0;
    max-height: 36vh;
    width: 100%;
  }

  .voting-hud .hud-menu li.option.textchoice,
  .voting-hud .hud-menu li.option {
    padding: 0.833rem;
    list-style: none;
  }
  .voting-hud .hud-menu li.option:hover {
    background-color: #3334;
  }
}
