.arcade-invite {
	width: 100%;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	user-select: none;
	margin-bottom: 1rem;
}

.arcade-invite-players {
	margin-bottom: -1rem;
}

.arcade-invite-actions {
	margin: 0 0 0 auto;
}

.arcade-invite-identicons {
	min-width: min-content;
	padding: 1rem;
}

.saito-sidebar .arcade-invite-identicons {
	padding: 0.5rem;
	column-gap: 0.75rem;
}

.arcade-invite-identicons div {
	height: 3.5rem;
	backdrop-filter: blur(3px);
}

.arcade-invite-identicons .arcade-invite-requested {
	opacity: 0.6;
	filter: grayscale(0.7);
}

.arcade-invite-slot {
	height: 3.5rem;
	width: 3.5rem;
	border: 1px solid var(--saito-border-color);
	box-shadow: -1px -1px #000;
	background-color: var(--background-color-shim-light);
	border-radius: var(--saito-radius-md);
}

/*
.my-turn {
	border: solid 2px;
}
*/

.arcade-invite-turn {
	position: relative;
}

.arcade-invite-turn i {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	border-radius: 100%;
	color: var(--saito-primary);
	background-color: var(--saito-turquoise);
	box-shadow: var(--saito-box-shadow);
}

.my-turn .arcade-invite-turn i {
	display: block;
}

.arcade-invite-badge {
	position: absolute;
	right: -0.75rem;
	bottom: -0.75rem;
	height: 100%;
	width: 10rem;
	max-width: 100%;
	padding: 0 1rem 0 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	white-space: break-spaces;
	color: var(--saito-white);
	text-shadow: 1px 1px 2px var(--saito-black);
	background-color: var(--saito-primary);
	color: var(--saito-primary-text);
	border-radius: var(--saito-radius-md);
	border: 3px solid var(--saito-background-color);
	/*clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);*/
}

.saito-game .arcade-invite-badge {
  border: 1px solid var(--saito-border-color);
  right: 0;
  bottom: 0;
  padding: 0 0 0 7px;
  text-align: center;
}