.node-info {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.node-info h3 {
  margin: 0;
}

.admin-info {
  margin-bottom: 20px;
}

.admin-welcome {
  margin-bottom: 20px;
}

