
/* Triangle in bottom corner of screen */

.game-help, .game-help-triangle {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 25rem;
    height: 16.667rem;
    background: #ff7700;
    overflow: hidden;
    color: #fff;
    padding-left: 30px;
    line-height: 22px;
    bottom: 0px;
    left: 0px;
    transform: skew(+55deg);
    margin-left: -20rem;
    z-index: 999;
}


.game-help:hover, .game-help-triangle:hover {
    background: #ee6600;
}

.game-help-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.game-help-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.game-help-text {
    font-family: arial, helvetica, sans-serif;
    font-size: 2rem;
    padding-top: 10rem;
    margin-left: 19.167rem;
    transform: skew(-55deg);
    min-width: 13.333rem;
    overflow: visible;
    line-height: 2.917rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-shadow: -2px 2px 2px black;
}


/* Standard overlay with title, text, and image */

.game-help-overlay {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    user-select: none;
    position: relative;
}

.game-help-overlay canvas {
    /*max-width: 100%;
    max-height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: scale(0.8);
}

.game-help-overlay > div {
    position: absolute;
    background: #0009;
    left: 2.5rem;
    padding: 0.833rem;
    color: white;
    max-width:50%;
    border-radius: 0.833rem;
}

.game-help-overlay-title {
    top: 2.5rem;
    font-size: 3.833rem;
    letter-spacing: 0.083rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 60%;
}

.game-help-overlay-text {
    bottom: 0px;
    line-height: 3.333rem;
    font-size: 2.25rem;
    bottom: 2.5rem;
}

.game-help-overlay-text em {
    font-weight: bold;
    text-decoration: underline;
}

.game-help-overlay > div.game-help-overlay-optout {
    left: unset;
    right: 0.833rem;
    bottom: 0.833rem;
    display: flex;
    align-items: center;
    gap: 0.833rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .game-help-overlay > div {
        left: 1.25rem;
        max-width: 65%;
    }

 }   