:root {
  --saito-width: 1500px;
}

.saito-container {
  grid-template-columns: 25rem 1fr;
}

.assetstore-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  min-height: min(600px, 50vh);
  row-gap: 2rem;
  justify-items: center;
  align-content: start;
  padding-top: 1rem;
}

.assetstore-nft {
  height: 200px;
  width: 200px;
  background-color: green;
}

.assetstore-table-list {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(95vw, 330px), 1fr));
}

#assetstore-empty {
  display: block;
  padding-top: 10rem;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

#assetstore-empty span {
  font-size: 3rem;
}

#assetstore-title {
  font-size: 2rem;
  padding-top: 0.5rem;
}

#assetstore-table-title {
  font-size: 1.8rem;
}

#deposit-container {
  background: var(--saito-background);
  display: flex;
  height: 40rem;
  width: 50rem;
  justify-content: space-between;
  padding: 1.5rem;
}

/*  Side bar */
.saito-store-explorer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.saito-store-explorer-title {
  font-size: 22px;
  position: relative;
  /*background-color: var(--saito-secondary);
  color: var(--saito-secondary-foreground);*/
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.saito-store-page-tab {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 1.5rem;
  padding-right: 1.5rem;
  padding-right: 2.5rem;
  font-size: 18px;
  border-radius: 3rem;
  width: 100%;
  position: relative;
}

select.saito-store-explorer-mobile {
  display: none;
  background-color: inherit;
  color: inherit;
  max-width: 50%;
  padding: 1.5rem;
  padding-right: 1.5rem;
  padding-right: 2.5rem;
  font-size: 18px;
}

.saito-store-mobile-header-icon {
  display: none;
}

select.saito-store-explorer-mobile option {
  background-color: inherit;
  color: inherit;
}

.store-active-tab {
  background-color: var(--saito-secondary);
  color: var(--saito-foreground);
}

.flashing-tab {
  transition: 0.2s all;
  animation: flashing-tab 1.2s infinite;
}

@keyframes flashing-tab {
  0%,
  100% {
    background-color: inherit;
  }
  50% {
    background-color: color-mix(in srgb, var(--saito-foreground) 14%, transparent);
  }
}

.store-absolute-icon {
  position: absolute;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  right: 2rem;
  transition: transform 0.3s;
}

.store-absolute-icon:hover {
  transform: translate(5%, -55%);
}

/* ==========================
  Splash cover page
 ========================== */
.asset-store-splash {
  position: absolute;
  background: var(--saito-background);
  top: 0;
  left: 50%;
  width: 100%;
  max-width: calc(var(--saito-width) + 2rem);
  height: 100%;
  transform: translateX(-50%);
  display: grid;
  column-gap: min(4rem, 10vw);
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  padding: min(4rem, 10vw);
  align-content: center;
  font-size: 2rem;
  transition: opacity 1s ease-in;
  justify-items: center;
  z-index: 150;
}

.asset-store-splash.dissolve {
  opacity: 0;
  pointer-events: none;
}

.store-img-flip {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  aspect-ratio: 1;
  perspective: 1000px;
  position: relative;
}

.store-img-front,
.store-img-back {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  border-radius: 1rem;
  background: inherit;
  overflow: hidden;
  transition: transform 0.8s;
}

.store-img-front {
  transform: rotateY(0deg);
}

.store-img-back {
  transform: rotateY(180deg);
  height: 100%;
  background: inherit;
  padding: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-img-flip:hover .store-img-front {
  transform: rotateY(180deg);
}

.store-img-flip:hover .store-img-back {
  transform: rotateY(0deg);
}

.store-img-back-content,
.store-features-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.store-splash-content {
  max-width: 400px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.store-splash-content p {
  font-size: 1.8rem;
  line-height: 1.8;
}

@media screen and (max-width: 720px) {
  .saito-container {
    grid-template-columns: minmax(0px, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .store-splash-content h2 {
    font-size: 3rem;
  }

  .list-asset {
    flex-grow: 1;
  }

  .store-img-flip {
    height: 100%;
  }

  .store-features-list {
    gap: 0.5rem;
  }

  .saito-sidebar.left {
    height: 8rem;
    flex-direction: row;
    background: var(--saito-background);
    width: 100%;
    z-index: 100;
  }

  .saito-store-explorer {
    display: none;
  }

  .saito-store-explorer-title {
    display: none;
  }

  .store-absolute-icon {
    font-size: 25px;
    width: unset;
    right: unset;
    position: relative;
  }

  .saito-store-mobile-header-icon {
    display: flex;
    width: 3.5rem;
    justify-content: center;
  }

  select.saito-store-explorer-mobile {
    display: flex;
  }

  .asset-store-splash {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, min-content) minmax(min-content, 1fr);
    padding: min(2rem, 5vw);
  }

  .store-img-front {
    height: 100%;
  }

  .store-splash-content {
    gap: 0;
  }

  .store-splash-content p {
    line-height: 1.6;
  }

  .asset-store-splash .saito-button-row.auto-size {
    flex-direction: row;
    min-height: 6rem;
  }
}
