.node-cards-area {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  flex-wrap: nowrap;
  max-height: calc(100vh - 9rem);
}


.node-cards-area > .node-card:first-child {
  margin-left: 0;
}
.node-cards-area > .node-card:last-child {
  margin-right: 0;
} 