.redsquare-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
  user-select: none;
}

.redsquare-menu .item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 1.5rem;
  padding-right: 2.5rem;
  font-size: 18px;
  border: var(--border-thickness-thin) solid transparent;
  border-radius: var(--saito-button-radius);
  box-sizing: border-box;
  width: 100%;
}

.redsquare-menu.saito-menu-select-subtle > li.item:not(.disabled-option):hover {
  background-color: transparent;
  border-color: var(--saito-border-color);
  color: inherit;
}

.redsquare-menu .item i {
  font-size: 24px;
  width: 24px;
  text-align: center;
}

.redsquare-menu i::before {
  -webkit-text-stroke: var(--saito-font-color) 1px;
  color: transparent;
  font-size: smaller;
}

.redsquare-page-active i::before {
  -webkit-text-stroke: var(--saito-font-color) 2px;
  color: transparent;
  font-size: smaller;
}

.redsquare-menu .item span {
  display: inline-block;
  margin-left: 8px;
  font-size: 2.1rem;
}

.tweet-button {
  width: 90%;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1199px) {
  .redsquare-menu {
    align-items: flex-end;
  }

  .redsquare-menu .item {
    justify-content: flex-end;
    padding: 1.5rem;
  }

  .redsquare-menu .item i {
    margin: 0;
  }

  .redsquare-menu .item span {
    display: none;
  }
}
