:root {
  --ideal-game-log: min(450px, 65vw);
}


body {
    background-image: url(/poker/img/backgrounds/castle2.png);
}

.gameboard {
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  /* To adjust shade of felt */
  background-image: url(/saito/img/arcade/greenfelt.jpg);
  background-blend-mode: luminosity;
}

.gameboard.red{
  background-color: #6004;
}

.gameboard.blue{
  background-color: #0092;  
}

.gameboard.threed {
  border-radius: 12rem;
  transform: perspective(700px) rotateX(33deg) translateY(-35px);
  filter: drop-shadow(0px 10px 20px black);
}

.smaller-font {
  font-size: 0.8em;
}

.deal {
  display: flex;
  gap: 1rem;
  margin: 8rem 0 0;
  height: 230px;
}

.mystuff {
  position: absolute;
  width: 100vw;
  height: 240px;
  max-height: 36vh;
  /*left: calc(50% - 125px);*/  
  bottom: 10px;
  /*max-width: min(250px, 66vw);*/
}


/* cool graphics in game-log */
.suit {
	font-size: larger;
}

.htmlhand {
	text-indent: 0;
}

.htmlCard {
	margin: 5px 3px;
	background: #fffd;
	border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  height: 32px;
  width: 32px;
}

.dealer-button {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px ridge #999;
  border-radius: 100%;
  overflow: hidden;
  /*background-image: url('/saito/img/arcade/cards/red_back.png');
  background-size: 169%;
  background-position: center;
  background-blend-mode: color;*/
  background-color: #FEE;
  position: absolute;
  right: calc(100% + 5px);
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 3rem;
  text-shadow: -1px -1px rgba(0,0,0,0.4), 1px 1px rgba(255,255,255,0.8);
  color: rgba(0, 0, 0, 0.6);
  padding-left: 2px;
  font-weight: bolder;
  font-family: "Times New Roman", serif;
  cursor: default;
}

.module-settings-overlay {
  min-width: min(400px, 90vw);
}

@media screen and (max-width: 900px) {
  .deal {
    gap: 5px;
    margin: 0rem 0 0;
  }
  .mystuff {
    bottom: 0px;
    max-height: 225px;
  }
}

@media screen and (max-width: 600px) {
  .gameboard {
    padding: 2rem;
  }
  /*
  .mystuff {
    left: calc(50vw - min(125px, 33vw));
  }
  */
}


/*------------------ tmp housing for updates ------------------*/


/* style.css | https://saito.io/poker/style.css?v=1749105283 */

.game-playerbox-icons {
  /* flex-direction: column; */
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 1rem 1rem 5rem;
  border-radius: 3rem;
  border: 1px solid #fff4;
  background: url(/poker/img/simple-chip.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
}


.game-playerbox {
  padding: 0.5rem 0 2rem 0;
  border-radius: 1rem;
  box-shadow: 5px 5px 3px #0008;
  background-color: #0003;
  max-width: 100vw;
  width: 40rem;
}

.dealer-button {
  position: relative;
  padding: 2px 0 0 2px;
  position: absolute;
  right: 16rem;
  top: 2.5rem;
}

.saito-user {
  border-radius: 4rem;
  padding: 2rem;
}

.game-playerbox-graphics {
  background: unset;
}

.mystuff {
  bottom: 65px;
}

.controls div.option {
  /* max-width: 9rem; */
  /* padding: 0 5px; */
  padding: 14px 5px;
  width: 100% !important;
  box-shadow: 5px 5px 3px #0008;
  background-color: #0003;
  max-width: unset;
}

.controls div.option:hover, .controls ul li:hover {
  /* background-color: #0005; */
  background-color: #8882;
}


.game-playerbox-icons {
}

.game-playerbox-icons > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

.game-playerbox.active {
  border: unset;
}

.game-playerbox-seat-1 {
  min-width: 44rem;
}

/* saito.css | https://saito.io/saito/saito.css?v=1749105283 */

.saito-identicon-box {
  /* width: 3.5rem; */
  /* height: 3.5rem; */
  width: 4.5rem;
  height: 4.5rem;
}

.status .option.raise_option {
  padding: 2rem;
}