.game.settlers {
  @media only screen and (max-width: 600px) and (orientation: portrait) {
    .racetrack {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      top: 0;
      padding-top: 10vh;
      background-color: black;
      padding-left: 5vw;
      padding-right: 5vw;
      z-index: 5;
    }
  }

  @media only screen and (max-height: 600px) and (orientation: landscape) {
    .racetrack {
      display: none;
    }
  }
}
