.game.settlers {
  .cardnotice-wrapper {
    background-size: 111%;
    background-position: center;
    padding: 0.833rem;
    background-color: #0002;
    background-blend-mode: darken;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .cardnotice-card {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: rotate(5deg) scale(0.2) translateY(-50%);
    transform-origin: top right;
  }

  .cardnotice div {
    width: fit-content;
    margin: 0.583rem;
    padding: 0.833rem;
    border-radius: 0.833rem;
    background-color: #b79e76cc;
  }

  .cardnotice-title {
    font-size: 1.833rem;
  }

  .cardnotice-text {
    font-size: 1.5rem;
  }

  .cardnotice-card .settlers-dev-card-title {
    font-size: 45px;
    bottom: 11.5%;
  }
}
