select {
  width: 100%;
  cursor: pointer;
  font-size: 1.6rem;
  border-color: var(--saito-input-border);
  background: var(--saito-input-bg);
  box-shadow: none;
  padding: 1rem;
}
select,
::picker(select) {
/*  appearance: base-select;*/
}
/* ----------------------------------------------------------------
Selects
-----------------------------------------------------------------*/
.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: transparent;
  overflow: hidden;
  width: 100.01%;
  border-radius: 0 var(--saito-input-radius) var(--saito-input-radius) 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.saito-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  color: var(--saito-button-primary-fg);
  background-color: var(--saito-button-primary-bg);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-radius: 0 var(--saito-input-radius) var(--saito-input-radius) 0;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.saito-select:hover::after {
  color: var(--saito-button-primary-fg) !important;
}
.saito-select .saito-slct {
  font-size: 2rem;
  border-color: var(--saito-border);
}
.saito-slct {
  appearance: none;
  background-color: var(--saito-input-bg);
  color: var(--saito-input-fg);
  border-radius: var(--saito-input-radius);
  padding: 0 var(--saito-space-md);
}
textarea,
input {
  background-color: var(--saito-input-bg);
  background: var(--saito-input-bg);
  color: var(--saito-input-fg-heavy);
  border: var(--border-thickness-thin) solid var(--saito-input-border);
  border-color: var(--saito-input-border);
  box-shadow: none;
  font-family: var(--saito-input-font);
  font-size: 1.6rem;
  padding: 1rem;
}
textarea:focus, input:focus, select:focus {
  outline: none !important;
  border-color: var(--saito-input-border) !important;
  box-shadow: none !important;
}
textarea,
select,
input:not([type='checkbox']):not([type='radio']):not([type='range']) {
  background-color: var(--saito-input-bg);
  border-radius: var(--saito-border-radius);
}
/* ----------------------------------------------------------------
text and password inputs
-----------------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="datetime-local"] {
  padding: 1rem;
  font-size: 1.6rem;
  width: 20rem;  /* Min width ? */
  color: var(--saito-input-fg);
  border-radius: var(--saito-input-radius);
  background-color: var(--saito-input-bg);
  font-family: var(--saito-input-font);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"] {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: var(--saito-muted-foreground);
}
input[type="text"],
input[type="password"],
select {
  width: 100%;
}
/* ----------------------------------------------------------------
checkbox input
-----------------------------------------------------------------*/
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border: var(--border-thickness-thin) solid var(--saito-input-border-focus);
  width: 2rem;
  height: 2rem;
  margin: 3px 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  opacity: 0;
}
input[type="checkbox"]:checked {
  background-color: var(--saito-primary);
}
input[type="checkbox"]:checked::after {
  color: var(--saito-primary-text);
  opacity: 1;
}
/* ----------------------------------------------------------------
radio inputs
-----------------------------------------------------------------*/
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: var(--border-thickness-thin) solid var(--saito-input-border-focus);
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 3px;
  position: relative;
}
input[type="radio"]::after {
  font-weight: 900;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--saito-primary);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 1rem;
  opacity: 0;
  border-radius: 3px;
}
input[type="radio"]:checked::after {
  color: var(--saito-primary-text);
  opacity: 1;
}
/* ----------------------------------------------------------------
Range inputs
-----------------------------------------------------------------*/
input[type="range"] {
  -webkit-appearance: none;
  margin: 1.8rem 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--saito-elevation-2);
  background: var(--saito-primary);
  border-radius: 0.5rem;
  border: var(--border-color-general-dividers);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: var(--saito-elevation-2);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: 0.5rem;
  background: var(--saito-surface-inverse);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  box-shadow: var(--saito-elevation-2);
  background: var(--saito-primary);
  border-radius: 0.5rem;
  border: var(--border-color-general-dividers);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: var(--saito-elevation-2);
  border: 1px solid var(--color-contrast);
  height: 3rem;
  width: 2rem;
  border-radius: .5rem;
  background: var(--saito-surface-inverse);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -1.2rem;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--saito-primary);
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1.6rem 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--saito-primary);
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--saito-elevation-2);
}
input[type="range"]::-ms-fill-upper {
  border: var(--border-color-general-dividers);
  border-radius: 0.5rem;
  box-shadow: var(--saito-elevation-2);
}
input[type="range"]::-ms-thumb {
  box-shadow: var(--saito-elevation-2);
  border: 1px solid var(--color-contrast);
  height: 3.6rem;
  width: 1.6rem;
  border-radius: 0.5rem;
  background: var(--saito-surface-inverse);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--saito-primary);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--saito-primary);
}
/***************************************************
 * the cool toggle switch element for RS - curation
 * (hoping it is more generally applicable)
 * *************************************************/
