/*** FROM template ***/
#purchase-container {
  background: var(--saito-background-color);
  display: flex;
  height: fit-content;
  width: 75rem;
  justify-content: space-between;
  padding: 5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  gap: 3rem;
}

#purchase-container img {
  height: 15rem;
}

/***********************/

.purchase-container {
  background: var(--saito-background-color);
  display: flex;
  height: fit-content;
  max-width: 60rem;
  justify-content: space-between;
  padding: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  gap: 1rem;
  width: max-content;
}

.purchase-crypto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.purchase-crypto-item {
  flex: 0 1 15rem;
  max-width: 18rem;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border-radius: var(--saito-border-radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--saito-primary);
  color: var(--saito-primary-text);
  font-weight: bold;
}

.purchase-crypto-item:hover {
  background: var(--saito-primary-dark);
}

.purchase-select-crypto-msg {
  text-align: center;
}

#purchase-crypto-generate {
  width: fit-content;
  align-self: end;
}

.purchase-crypto-item input:hover {
  cursor: pointer;
}

.payment-box {
  padding: 2.5rem;
  width: 420px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  & .saito-purchase-deposit-header {
    margin: 0 0 5px 0;
    font-weight: 600;
    font-size: 3rem;
    color: var(--saito-primary);
  }

  & .product-desc {
    line-height: 1.4;
  }

  & .price {
    font-weight: 700;
    font-size: 3rem;
  }

  & .instructions {
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
  }

  & .details {
    border: 1px solid var(--saito-font-color);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  & .help .support-email {
    font-weight: bold;
  }

  & .timer {
    font-weight: 600;
    color: var(--saito-primary);
  }

  & .extend-timer {
    color: var(--saito-primary);
    cursor: pointer;
    border-bottom: 1px dashed;
  }
  & .extend-timer:hover {
    color: var(--saito-secondary);
    cursor: pointer;
    border-bottom: 1px solid;
  }
}
