.saito-alert {
  position: fixed;
  inset: 0;
  z-index: 10000;
}

#saito-alert-shim {
  z-index: 2000;
  background-color: var(--saito-alert-backdrop);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#saito-alert-box {
  width: 75vw;
  max-width: 70rem;
  transition: all 500ms ease-in-out;
  background: var(--saito-alert-bg);
  margin: auto;
  position: relative;
  top: -100%;
  border: var(--border-thickness-thin) solid var(--saito-alert-border);
  border-radius: var(--saito-radius-md);
  padding: 1.5rem;
  color: var(--saito-alert-fg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--saito-alert-shadow);
}

.saito-alert-message {
  font-family: 'visuelt-light', 'Microsoft Yahei', 'Hiragino Sans GB';
  font-size: 2rem;
  text-align: center;
  align-self: center;
  display: block;
  margin: 1rem 0;
  overflow-wrap: break-word;
  line-height: 3rem;
  width: -webkit-fill-available;
}

@media (max-width: 600px) {
  #saito-alert-box {
    width: 95vw;
  }
}
