/* Saito backup overlay */
.saito-backup .saito-overlay-subform {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.saito-backup .saito-overlay-form-subtext {
  font-size: 2rem;
  line-height: 2.8rem;
}

.saito-backup .saito-overlay-subform-text {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.saito-backup .saito-overlay-form-submit {
  width: fit-content;
  align-self: end;
}

.saito-backup .saito-overlay-form-checkbox-container,
.saito-backup .saito-overlay-form-checkbox-container {
  display: flex;
  gap: 1rem;
}

.saito-backup .saito-overlay-subform-checkbox {
  width: 3.5rem;
}

.saito-backup .saito-overlay-subform-checkbox {
  width: 2rem;
}

.saito-backup .saito-overlay-subform-text {
  line-height: 3rem;
}

