/*
 saito link preview
*/

.saito-link-preview {
  white-space: normal;
}

.saito-link-img {
  width: 100%;
  max-height: 2rem;
  border-top-left-radius: var(--saito-border-radius);
  border-top-right-radius: var(--saito-border-radius);
  border: var(--border-thickness-thin) solid var(--saito-link-preview-border);
  border-bottom: none;
  overflow: hidden;
  display: flex;
}

.saito-link-img.has-picture {
  max-height: 25rem;
}

.saito-link-img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.saito-link-info {
  padding: 2rem;
  border: var(--border-thickness-thin) solid var(--saito-link-preview-border);
  border-radius: var(--saito-border-radius);
  border-top: none;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
  overflow-wrap: anywhere;
  color: var(--saito-font-color);
  font-size: 1.5rem;
  background-color: var(--saito-link-preview-bg);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.saito-link-title {
  font-size: 1.8rem;
}

.saito-link-display_url {
  color: var(--saito-font-color-secondary);
  font-style: italic;
  font-size: 1.3rem;
}

.saito-link-preview a {
  white-space: normal;
}
