/***********************/

.purchase-container {
  background: var(--saito-background-color);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  gap: 1rem;
}

.loader-interstitial-overlay img {
  height: 15rem;
}

.loader-interstitial-overlay .container-header {
  font-size: 3rem;
}

.loader-interstitial-overlay .container-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchase-crypto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  overflow-y: auto;
}

.purchase-crypto-item {
  flex: 0 1 16rem;
  max-width: 18rem;
  aspect-ratio: 1 / 1;
  padding: 1rem;
  border: 2px solid var(--saito-primary-dark);
  border-radius: var(--saito-border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--saito-background-color);
  color: var(--saito-font-color);
  font-weight: bold;
  transition: background-color 0.2s;
}

.purchase-crypto-item .crypto-logo {
  width: 65%;
  height: auto;
}

.purchase-crypto-item:hover {
  background: var(--saito-primary-dark);
  color: var(--saito-primary-text);
  text-shadow: 1px 1px 2px var(--saito-black);
}

.purchase-select-crypto-msg {
  text-align: center;
}

#purchase-crypto-generate {
  width: fit-content;
  align-self: end;
}

.purchase-crypto-item input:hover {
  cursor: pointer;
}

.saito-purchase-deposit-header {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 3rem;
  color: var(--saito-primary);
}

.payment-box {
  padding: 2.5rem;
  width: 420px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  & .product-desc {
    line-height: 1.4;
  }

  & .price {
    font-weight: 700;
    font-size: 3rem;
  }

  & .instructions {
    display: flex;
    gap: 1.5rem;
    width: 180px;
  }

  & .details {
    border: 1px solid var(--saito-font-color);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  & .help .support-email {
    font-weight: bold;
  }

  & .timer {
    font-weight: 600;
    color: var(--saito-primary);
  }

  & .extend-timer {
    color: var(--saito-primary);
    cursor: pointer;
    border-bottom: 1px dashed;
  }
  & .extend-timer:hover {
    color: var(--saito-secondary);
    cursor: pointer;
    border-bottom: 1px solid;
  }
}

/*  Numeric entry */
.amount-selection-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.crypto-box {
  display: flex;
  font-size: 2rem;
  height: 4rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.amount-selection-box .crypto-logo {
  width: unset;
}

.expected_amount {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  width: 20rem;
  color: var(--saito-font-color);
  border-radius: var(--saito-border-radius);
  height: 41px;
  background-color: var(--saito-background-color);
  border: var(--border-thickness-thin) solid var(--saito-primary);
}

.input-entry {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 600px) {  
  .purchase-crypto-list {
    font-size: smaller;
  }
  .purchase-crypto-item .crypto-logo {
    width: 50%;
    height: auto;
  }
}