/*
NOTE: the .saito-model class is a grid with two sectiions
This alows for a header with a header with title to be added without extra CSS
*/

.saito-modal,
.saito-contacts,
.saito-share-link,
.saito-user-menu {
  min-width: 70rem;
  height: min-content;
  max-width: 80vw;
  padding: var(--border-padding-wide);
  display: grid;
  grid-template-rows: min-content 1fr min-content; /* last item optional */
  max-height: 95vh;
}

.saito-modal-title {
  margin: 0;
  font-size: 3rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--saito-font-color-heavy);
}

.saito-modal-content {
  overflow: auto;
}

.saito-share-link {
  background-color: var(--saito-background-color);
}

.saito-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: var(--saito-border-radius);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

/* We want to trigger the click event on the container */

.saito-contact .saito-user {
  pointer-events: none;
}

.secure_contact_notice {
  position: absolute;
  left: 3rem;
  top: 0;
  z-index: 2;
  color: var(--saito-font-color-light);
  /* testing */
  text-shadow: 2px 2px 2px var(--saito-black);
}


.saito-modal-title + .saito-modal-content {
  border-top: var(--border-thickness-thick) solid var(--border-color-general-dividers);
}

.saito-modal-content .saito-user {
  height: 5rem;
  align-items: center;
  font-size: 20px;
}

.saito-modal-content .saito-user .saito-identicon-box {
  width: 4.5rem;
  height: 4.5rem;
}

.saito-user-menu .saito-modal-title .saito-user {
  height: 6rem;
  padding: 0 1.25rem;
  cursor: default;
  align-items: center;
  width: calc(100% - 2.5rem);
  white-space: nowrap;
}

.saito-user-menu .saito-modal-title .saito-identicon-box {
  width: 5.5rem;
  height: 5.5rem;
}

/* saito-modal-menu
/* theming for a simple menu with font-awesome icon and text in a two col grid */

.saito-modal-menu-option {
  font-size: 3rem;
  height: 6rem;
  padding: 1.5rem 3rem;
  display: grid;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: 4rem 1fr;
  cursor: pointer;
  position: relative;
  border-radius: var(--saito-border-radius);
  margin-top: 0.25rem;
}

.saito-modal-tagline {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.saito-modal-point {
  font-size: 2rem;
  padding: 0.5rem;
  display: grid;
  align-items: center;
  grid-gap: 2rem;
  grid-template-columns: 4rem 1fr;
}

.saito-modal-point i {
  font-size: 3rem;
  justify-self: center;
}

.saito-modal-menu-option > i {
  justify-self: center;
  margin-right: 2rem;
}

.saito-modal-menu-option > div,
.saito-modal-menu-option-label {
  float: left;
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  margin-bottom: auto;
  margin-top: auto;
  line-height: 3rem;
  height: 3rem;
}


.saito-modal-title .saito-user .saito-address {
  font-size: 4rem;
}


.saito-overlaid-icon {
  color: var(--saito-chip-fg);
  position: absolute;
  left: 34%;
  top: 34%;
  background: var(--saito-chip-bg);
  width: min(90%, 5rem);
  height: min(90%, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--saito-font-color);
}

/* Identicons aren't clickable in modals menus */

.saito-user-menu .saito-identicon-box {
  cursor: default;
}

/* mobile modals */

@media only screen and (max-width: 1000px) {
  .saito-modal {
    min-width: unset;
    max-width: unset;
    padding: 1rem;
    width: 90vw;
    grid-template-columns: 100%;
  }
  .saito-modal > * {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .saito-modal-menu-option {
    margin: 0 1rem;
  }
  .saito-modal-menu-option > i {
    font-size: 2.2rem;
  }
  .saito-modal-menu-option > div,
  .saito-modal-menu-option-label {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 525px) {
  .saito-user-menu .saito-modal-title .saito-user {
    margin: 0;
  }
  .saito-modal-menu-option {
    margin: 0;
    padding: 1.5rem 1rem;
  }
}

.qr-share-overlay {
  padding: 2rem;
  border: var(--saito-border);
  width: max-content;
}

.qr-share-header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

#qr-share-link {
  margin: 2rem;
}

#qr-share-link img,
#qr-share-link svg {
  height: auto;
  max-width: 24rem;
  width: 24vh;
  border: var(--border-thickness-medium) solid var(--saito-primary);
  padding: var(--border-padding-normal);
  border-radius: var(--saito-border-radius);
  background: var(--saito-background-color);
}
