.mixin_crypto_overlay {
  padding: 2rem;
  background-color: var(--saito-white);
  color: black;
  line-height: 1.6em;
  font-size: 1.5em;
  width: 90rem;
}

.mixin_crypto_title {
  margin: 0.5em 0;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0rem;
}

.mixin_crypto_warning {
  margin-top: 0px;
  margin-bottom: 20px;
}

.mixin_risk_acknowledge {
  max-width: 200px;
  text-align: center;
  margin-right: auto;
}

.input-cont {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.input-cont p {
  color: #fff;
}

.input-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

#copy-deposit-add {
  position: absolute;
  top: 54%;
  right: 4%;
  color: #444;
  cursor: pointer;
}

.copy-check::before {
  content: '\f00c';
}

.info-cont {
  display: flex;
  justify-content: space-between;
}

.info-item {
}

.info-item-title {
  font-size: 13px;
  font-weight: 700;
}

.info-item-detail {
  font-size: 12px;
}

.note {
  margin-top: 30px;
  font-size: 13px;
}

.add-input-box {
  width: 100%;
}

#withdrawl-confirm-cont,
#withdrawl-sent-cont {
  display: none;
}

.decision-cont a {
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.decision-cont a:hover {
  color: #333;
}

.withdraw-identicon-container {
  display: flex;
  align-items: center;
}

.withdraw-identicon-container .saito-identicon {
  margin: 0.5rem;
}

.mixin-withdraw-token-wrapper {
  margin-bottom: 2rem;
}

.mixin-withdraw-token-wrapper p {
  color: #fff;
}

.mixin-withdraw-input {
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 20px;
}

.no-margin {
  margin: 0px;
}

.max-amount-error {
  display: none;
  color: #5d1919;
}

.input-heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.info-cont {
  display: flex;
  justify-content: space-between;
}

.info-item {
}

.info-item-title {
  font-size: 13px;
  font-weight: 700;
}

.info-item-detail {
  font-size: 12px;
}

.note {
  margin-top: 30px;
  font-size: 12px;
}

.note.withdrawl {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.history-tx-link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.history-tx-id {
  padding: 1.5rem 0rem;
  display: block;
  min-width: 25rem;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none /*!important*/;
}

/* pagination */

.pagination-container {
  display: flex;
  gap: 2rem;
  width: fit-content;
  margin: auto;
  padding: 2rem 0rem 1.3rem 0rem;
}

#pagination-numbers {
  display: flex;
  gap: 2rem;
}

/*changed*/
.pagination-number.active {
  color: var(--saito-white);
  background: var(--saito-primary);
}

.pagination-number {
  border: 1px solid var(--border-color-general-dividers);
  cursor: pointer;
  padding: 0.3rem 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

/*changed*/
.pagination-number:hover {
  border: 1px solid var(--border-color-general-dividers);
}

.pagination-button {
  cursor: pointer;
  font-size: 2rem;
}

.pagination-button.disabled {
  visibility: hidden;
}

.pagination-button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}

.pagination-container.disabled .pagination-button {
  color: #9f9b9b;
}

.pagination-container.disabled .pagination-button:hover {
  transform: scale(1);
}

/* Unfinished changes */
.mixin-overlay-history {
  min-height: 20rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-radius: var(--saito-border-radius);
  background: var(--saito-background-color);
  color: var(--saito-font-color-heavy);
}

.auth_title {
  font-size: 3.5rem;
}

.from_address,
.to_address {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.game-crypto-transfer-manager-container .balance {
  margin-bottom: 1.1rem;
  font-size: 3.5rem;
}

/*
  Withdrawl overlay 
*/

/*changed*/
.token-dropdown {
  display: flex;
  position: relative;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-soft);
  border: 1px solid var(--saito-border-color);
}

.token-dropdown img {
  width: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}

.token-dropdown select {
  height: 45px;
  padding: 0rem 1rem 0 3rem;
  border: none;
  font-size: 1.6rem;
  width: 100%;
  color: inherit;
  background: inherit;
}

.withdraw-input-cont {
  background: var(--saito-background-color);
  border: 1px solid var(--saito-border-color);
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}

.withdraw-input-cont.fixed-user {
  grid-template-columns: min-content 1fr;
}

.saito-overlay-form-input .withdraw-input-cont input {
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
  autocomplete: off;
  background-color: var(--saito-background-color) !important;
}

/* Hide arrows, Chrome, Safari, Edge, Opera */
.saito-overlay-form-input input::-webkit-outer-spin-button,
.saito-overlay-form-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.saito-overlay-form-input input[type='number'] {
  -moz-appearance: textfield;
}

/* Fully override Chrome's autofill styling */
.saito-overlay-form-input input:-webkit-autofill,
.saito-overlay-form-input input:-webkit-autofill:hover,
.saito-overlay-form-input input:-webkit-autofill:focus,
.saito-overlay-form-input input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--saito-font-color) !important;
  caret-color: var(--saito-primary) !important;
  background-color: var(--saito-background-color) !important;
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--saito-background-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--saito-background-color) inset !important;
}

.withdraw-options-cont,
.withdraw-input-cont > i {
  cursor: pointer;
  padding: 1rem;
  margin-left: 0.5rem;
  font-size: 2rem;
}

.withdraw-options-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.withdraw-options-cont:hover {
  font-weight: bold;
}

.withdraw-options-cont:hover i {
  transform: scale(1.15);
}

.withdraw-options-cont span {
  font-size: 1.6rem;
}

.withdraw-input-cont.fixed-user .withdraw-options-cont {
  display: none;
}

.saito-overlay-form-submit,
.saito-overlay-form-subtext {
  grid-column: span 2;
}

.input-elements-container {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
}

.input-elements-container .saito-overlay-form-input {
  width: 100%;
}

.confirm-msg-container {
  color: var(--saito-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.confirm-msg-container .withdraw-msg-icon {
  font-size: 10rem;
}

.confirm-msg-container .withdraw-msg-icon.hide {
  display: none;
}

.confirm-msg-container .spinner {
  display: none;
  height: 9rem;
}

.confirm-msg-container .spinner.show {
  display: block;
}

.confirm-msg-container .confirm-msg {
  display: inline-block;
  width: min-content;
  text-align: center;
  min-width: 40rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.confirm-submit {
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.hide-element {
  display: none !important;
}

.fa-circle-notch {
  animation: spin 1.5s ease-in-out infinite;
  -webkit-animation: spin 1.5s ease-in-out infinite;
}

.dropdown-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-cont .saito-overlay-form-input {
  flex: 1;
  margin: 0;
  max-width: fit-content;
}

.withdraw-info-cont {
  color: var(--saito-font-color);
  line-height: 2rem;
  text-align: center;
}

.withdraw-info-cont .withdraw-info-title {
  display: block;
}

#withdraw-step-one {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#withdraw-step-two {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.saito-history-msg {
  color: var(--saito-font-color);
}

.withdraw-error {
  padding: 0rem 1rem;
  color: var(--saito-red);
  display: none;
  position: absolute;
  right: 3rem;
  background: var(--saito-background-color);
}

.withdraw-external-fee-span.saito {
  display: none;
}

.withdraw-fee-info-icon.egld {
  display: none;
}

.create-nft-deposit {
  cursor: pointer;
}

.create-nft-btn {
  margin-left: auto;
  padding: 1.2rem;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-nft-btn:hover {
  transform: scale(1.1);
}

/*
    add nft utxo overlay
*/

.create-nft-container,
.nft-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  min-width: 60rem;
}

.create-nft-container {
  min-height: 65vh;
  justify-content: space-between;
}

.user-slips {
  width: 18rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
}

.slip-info {
  padding: 1rem;
  background: var(--saito-background-color);
  display: flex;
  justify-content: space-between;
}

.nft-creator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#nfts-deposit {
  width: 65rem;
  height: 5rem;
}

.nft-list {
  min-height: 24rem;
  user-select: none;
}

.nft-list-container > .right-section {
  min-width: 50rem;
  gap: 2rem;
}

.nft-list-container > .right-section > .nft-receiver {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nft-image-preview {
  align-self: center;
  height: 30rem;
  position: relative;
}

.nft-image-preview i {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  top: -1rem;
  right: -1rem;
}

.inputs {
  display: flex;
  gap: 2rem;
}

.data-table tr.total_supply_value {
  background-color: #fdeed5;
}
.data-table tr.payout_value {
  background-color: #e0ebf0b0;
}
.data-table tr.total_supply.total_supply_value {
  background-color: #d8c3a2;
}
.inputs div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

#nft-image-upload {
  border: 3px dotted;
  height: 30rem;
  text-align: center;
  line-height: 30rem;
  font-size: 2rem;
  border-radius: 1rem;
  width: 55rem;
}

.utxo-div {
  display: flex;
  flex-direction: row;
  width: 45rem;
  gap: 1rem;
  align-items: center;
}

.utxo-div.send-nft {
  gap: 2rem;
  width: auto;
  flex-direction: column;
}

#utxo-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slip-info .metric {
  text-align: left;
}

.utxo-div.send-nft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.send-nft-left-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.send-nft-right-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  align-self: center;
}

.send-nft-id,
.send-nft-create-by {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
}

.send-nft-id {
  letter-spacing: 0.1rem;
}

.send-nft-create-by > .saito-user > .saito-userline {
  width: 10rem;
}

.send-nft-create-by > .saito-user {
  margin-right: -1rem;
}

.send-nft-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.send-nft-deposit {
  width: fit-content;
}

.send-nft-list {
  max-height: min(76rem, 85vh);
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  width: max-content;
  max-width: 94rem; /* fits 4 nfts wide */
  /* 4: 94rem, 3: 70rem */
}

#send-nft-wait-msg {
  color: var(--saito-gray-dark);
}

/*

  file icon
*/

.nft-file-transfer {
  border-radius: var(--border-radius-file-transfer);
  position: relative;
  border: 1px dashed;
  display: grid;
  align-items: center;
  padding: 1rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-items: flex-end;
  overflow: hidden;
  background-color: var(--saito-gray);
  color: var(--saito-white);
}

.nft-file-transfer.complete {
  border: 1px solid;
}

.nft-file-transfer.received {
  grid-template-rows: unset;
}

.file-transfer-progress {
  position: absolute;
  left: 1px;
  top: 1px;
  height: calc(100% - 2px);
  width: 0%;
  background-color: var(--saito-primary);
}

.nft-file-transfer.received .file-transfer-progress {
  background-color: var(--saito-secondary);
}

.nft-file-transfer i {
  font-size: 4rem;
  grid-row: 1 / span 2;
  z-index: 1;
  cursor: pointer;
}

.nft-file-transfer .file-name,
.nft-file-transfer .file-size {
  z-index: 1;
}

.create-nft-type-dropdown {
  width: 12rem;
  color: var(--saito-font-color);
  background: var(--saito-background-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.create-nft-textarea {
  height: 30rem;
  display: none;
}

.page-navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.9rem;
  display: none;
}

.nft-receiver {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#page2 {
  flex-direction: column;
  gap: 3rem;
}

.page-navigation.page1 {
  align-self: flex-end;
}

.create-nft-amount {
  max-width: 8rem;
  text-align: center;
  border: 1px solid var(--saito-font-color);
  padding: 0.3rem 0rem;
  border-radius: var(--border-radius-sharp);
}

.page-navigation.page2 {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
}

.nft-creator > .saito-file-transfer {
  border-radius: var(--border-radius-file-transfer);
  position: relative;
  border: 1px dashed;
  display: grid;
  align-items: center;
  padding: 2rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-items: flex-end;
  overflow: hidden;
  background-color: var(--saito-gray);
  color: var(--saito-white);
}

.fancy-slider-bar {
  position: relative;
  width: 100%;
  background-color: var(--saito-background-color);
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 0;
  height: 4.5rem;
  border: 1px solid var(--saito-border-color-dark);
}

.split-bar {
  width: 5px;
  position: relative;
}

.split-half {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 1.6rem;
}

input.split-half {
  padding: 0;
  height: 100%;
  border-radius: unset;
  text-align: center;
}

.split-bar > .resize-icon.horizontal {
  background-color: var(--saito-primary);
  height: 5rem;
}

/* 

nft cards

*/

.nft-card {
  width: 22rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--saito-border-color);
  border-radius: var(--border-radius-soft);
  overflow: hidden;
  padding: 1rem;
  background-color: var(--saito-background-color);
  flex: 0 0 22rem;
}

.nft-card:hover {
  cursor: pointer;
  border: 1px solid var(--saito-primary);
}

.nft-card.nft-selected {
  border: 1px solid var(--saito-primary);
}

.nft-card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/saito/img/dreamscape.png');
  border-radius: var(--border-radius-soft);
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.nft-card-img img,
.nft-card-img i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

.nft-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem 0rem 0rem;
  font-size: 1.4rem;
  gap: 1rem;
  position: relative;
}

.nft-card-identity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nft-card-id {
  width: 80%;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
  /* font-size: 1.2rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  /* max-width: 30ch; */
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
}

.nft-card-info-amount,
.nft-card-info-deposit {
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nft-card-info-title {
}

.nft-identicon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  align-self: center;
}

.nft-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nft-card-deposit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.nft-card-amount {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nft-card-text {
  font-family: monospace;
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  white-space: pre;
  color: #3ea63e;
  background: var(--saito-black);
  height: 100%;
}

.nft-details-container {
  width: 750px;
  max-width: 95vw;
  min-height: 80vh;
  padding: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.nft-details-data > .nft-card-img {
  background-size: contain;
  border-radius: var(--border-radius-soft);
  background-position: 50% 50%;
}

.nft-details-id {
  word-wrap: break-word;
  font-size: 1.5rem;
  font-family: monospace;
}

.nft-details-header,
.nft-details-actions {
  border: 1px solid var(--twitter-gray-light);
  border-radius: var(--border-radius-soft);
  padding: 1.5rem;
  gap: 1.5rem;
}

.nft-details-header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.nft-details-header .nft-identicon {
  width: 4rem;
  height: 4rem;
}

.nft-details-header .nft-card-info-amount,
.nft-details-header .nft-card-info-deposit {
  /*font-weight: bold;*/
}

.nft-details-actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 2rem);
  left: 1rem;
  background-color: var(--saito-background-color);
}

.nft-details-actions[data-show='none'] {
  display: none;
}

.nft-details-action {
  display: none;
  width: 100%;
}

.nft-details-actions[data-show='send'] #nft-details-send {
  display: flex;
  flex-direction: column;
}

.nft-details-actions[data-show='split'] #nft-details-split {
  display: flex;
  user-select: none;
}

.nft-details-actions[data-show='merge'] #nft-details-merge {
  display: flex;
}

.nft-details-section-header,
.nft-details-send,
.nft-details-assetstore {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.nft-details-actions .nft-card-details {
  border: 1px solid var(--saito-gray-transparent);
  padding: 1rem;
}

.nft-details-container .nft-card-text {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap; /* respects line breaks AND allows wrapping */
  word-break: break-word; /* breaks long strings */
}

.nft-details-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nft-details-section.left-justify {
  align-items: flex-start;
}

.nft-details-section-title {
  font-size: 1.3rem;
  font-family: var(--saito-font-heavy);
}

.nft-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nft-details-section-content {
  text-align: center;
  display: flex;
  gap: 1rem;
}

.nft-details-id-cont {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: hidden;
}

.nft-details-id {
  word-wrap: break-word;
  white-space: pre-wrap; /* respects line breaks AND allows wrapping */
  word-break: break-word; /* breaks long strings like utxo_key */
}

#nft-details-split-bar {
  height: 4rem;
  width: 100%;
  position: relative;
  display: block;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .send-nft-list {
    max-width: 70rem;
    /*max-width: 100%;*/
  }
}

@media screen and (max-width: 768px) {
  .mixin-items-container .saito-table-header {
    grid-template-columns: 8rem 8rem;
  }
  .mixin-items-container .saito-table-row {
    grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  }
  .mixin-no-history {
    margin-top: 1rem;
    margin-left: 0rem;
  }
  .mixin-txn-his-container {
    width: 86vw;
  }
  .mixin-txn-his-container .saito-table-header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .mixin_crypto_overlay {
    width: 99vw;
  }

  /* NFT */
  .nft-list-container,
  .create-nft-container {
    width: 95vw;
    min-width: auto;
    padding: 1rem;
  }

  .send-nft-list {
    width: unset;
    justify-content: center;
  }

  #nft-image-upload {
    width: auto;
  }

  .nft-details-container {
    width: 95vw;
    max-height: 95vh;
    overflow-y: scroll;
  }

  .nft-details-data {
    width: 100%;
  }

  .nft-details-data > .nft-card-img {
    height: 40vh;
  }
}
