.saito-crypto-deposit-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  height: 54rem;
}

.saito-crypto-wallet-state {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.call-to-action {
  font-size: 2rem;
  color: var(--saito-secondary);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*  Detail Overlay */
#saito-details-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.crypto-details-overlay {
  width: 720px;
  max-width: calc(100vw - 2px);
  min-height: 700px;
  max-height: calc(100vh - var(--saito-header-height));
  padding: 2rem;
  background-color: var(--saito-background-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wallet-details {
  display: grid;
  grid-template-columns: 25rem 1fr;
  column-gap: 2rem;
}

.wallet-details h6 {
  grid-column: span 2;
}

.deposit-address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.pubkey-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
}

.pubkey-container:hover i {
  transform: scale(1.1);
}

.mobile-only460 {
  display: none;
}

.wallet-actions {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 1rem;
  justify-content: space-between;
}

.main-balance {
  position: relative;
}

.wallet-actions .label {
  margin-top: 0.5rem;
}

.crypto-details-overlay .balance-amount-whole,
.crypto-details-overlay .balance-amount-separator {
  font-size: 2.5rem;
}

.saito-button-grid {
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  gap: 1rem;
  margin-top: auto;
}

.saito-button-grid .saito-button-primary,
.saito-button-grid .saito-button-secondary {
  min-width: unset;
}

.transaction-history {
  display: grid;
  flex-grow: 1;
  position: relative;
  padding: 0.5rem 0;
  max-height: 40rem;
  grid-template-rows: min-content minmax(0, 1fr);
}

.transaction-history .saito-table-header,
.transaction-history .saito-table-row {
  grid-template-columns: repeat(5, 1fr);
}

.transaction-history-table {
  flex-grow: 1;
}

.deposit {
  color: #00ae00;
}

.withdraw {
  color: #e34927;
}

.withdraw.invalid,
.deposit.invalid {
  color: #cab202;
}

.crypto-timestamp {
  white-space: nowrap;
}

.refresh {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  top: 0;
}

.main-balance .refresh {
  top: 0.7rem;
}

.refresh:hover {
  color: var(--saito-primary);
}

.refreshing {
  animation: spin 1s linear infinite;
}

.pagination-container.disabled {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transaction-history-table div.saito-only {
  display: none;
}

.transaction-history-table[data-crypto='SAITO'] div.saito-only {
  display: flex;
}

.saitox-table.transaction-history-table {
  grid-template-columns: repeat(3, minmax(max-content, 2fr)) repeat(
      calc(var(--saitox-column-ct) - 3),
      minmax(max-content, 3fr)
    );
}

.refreshed {
  visibility: hidden;
}

.get-saito-overlay {
  width: min(800px, 95vw);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 2rem;
  max-height: 95vh;
  overflow: auto;
}

@media screen and (max-width: 600px) {
  .crypto-details-overlay {
    min-height: calc(100vh - var(--saito-header-height));
  }

  .wallet-details {
    grid-template-columns: min-content 1fr;
    column-gap: 0;
  }

  .saito-button-grid {
    grid-template-columns: unset;
    max-width: 200px;
    gap: 0;
  }

  .deposit-address,
  .wallet-actions {
    padding: 0.5rem;
  }

  .pubkey-container {
    font-size: 1.5rem;
  }

  .wallet-actions {
    min-width: 210px;
    margin-left: auto;
    width: 100%;
  }

  .saitox-table.transaction-history-table {
    grid-template-columns: 10rem 0px 1fr 0px 1fr 0px;
  }

  .saitox-table.transaction-history-table > div {
    padding: 0;
    overflow: hidden;
  }

  .wallet-details .qrcode {
    height: 15rem;
  }
  .wallet-details .qrcode img {
    height: 15rem;
    width: 15rem;
  }
}

@media screen and (max-width: 460px) {
  .crypto-details-overlay {
    gap: 1rem;
  }

  .wallet-details {
    grid-template-columns: 1fr;
  }

  /*
  we should not be doing this! Use a class name!
  h6 {
    display: none;
  }*/

  /*.deposit-address .pubkey-container {
    display: none;
  }

  .mobile-only460 {
    display: flex;
    margin-left: auto;
  }*/
}

.saito-crypto-deposit-content {
  font-size: 1.8rem;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  flex-grow: 1;
  height: 350px;
}

.saito-crypto-deposit-content .img-prev {
  width: 100%;
  max-height: 30rem;
  height: auto;
  object-fit: cover;
}

.saito-progress-meter {
  position: relative;
  display: flex;
  height: 3rem;
  width: 100%;
  color: var(--saito-primary-text);
  background: var(--saito-highlight);
  border: 1px solid var(--saito-border-color);
  border-radius: var(--saito-border-radius);
  overflow: hidden;
}

.saito-crypto-deposit-container .game-loader-spinner {
  margin: 10rem auto;
}
