.stun-invite {
	background: var(--saito-overlay-panel-background);
	color: var(--saito-font-color);
	border: 1px solid var(--saito-overlay-panel-border);
	box-shadow: var(--saito-overlay-panel-shadow);
	padding: 3rem;
	border-radius: var(--saito-border-radius);
	line-height: 3rem;
	min-width: 40rem;
}
.stun-invite .saito-button-secondary {
	margin: 0px;
}
