/* Base styles */

label {
  display: block;
}

input[type='datetime-local'] {
  color-scheme: dark;
}

.scheduled-calls {
  max-height: 60vh;
  overflow: auto;
}

/* schedule wizard/event-link styles live in saito-scheduler.css */

/* Call schedule join */

.call-schedule-join-container {
  width: min(550px, 98vw);
  padding: 2rem 3rem;
  color: var(--saito-foreground);
  box-sizing: border-box;
  border-radius: var(--saito-radius);
}

/* Call schedule card */

.call-schedule-card-container {
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin: 2rem 0;
  border: 1px solid var(--saito-border);
  box-sizing: border-box;
}

.call-schedule-card-description {
  font-size: 0.9em;
  margin-bottom: 1.5rem;
}

.call-schedule-card-item {
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.card-value {
  font-weight: bold;
  color: var(--saito-foreground);
}

.call-schedule-card .time-left {
  margin-bottom: 1.5rem;
}

.call-schedule-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.call-schedule-buttons .saito-button-secondary {
  flex: 1;
  height: 100%;
}

.call-schedule-buttons .saito-button-primary {
  flex: 3;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 600px) {
  .call-schedule-join-container,
  .call-schedule-card-container {
    width: 100%;
    padding: 1.5rem;
  }
}

/*@media screen and (max-width: 400px) {
    .saito-schedule-wizard, .saito-calendar-event-link-body, .call-schedule-join-container, .call-schedule-card-container {
        padding: 1rem;
    }
    .saito-schedule-wizard input, .saito-schedule-wizard textarea, .saito-schedule-wizard select {
        padding: 0.8rem 1.2rem;
    }
}*/
