.small-audio-chatbox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	z-index: 200;
	bottom: 0;
	border: 1px solid rgba(71, 72, 75, 0.45);
	cursor: grab;
	background: rgba(36, 38, 42, 0.78);
	backdrop-filter: blur(12px);
	border-radius: 1rem;
	box-shadow: 0 16px 28px rgba(0, 0, 0, 0.4);
	color: #f2f0f4;
}

.audio-box {
	width: 3.5rem;
	height: 3.5rem;
	position: relative;
}

.audio-box.muted {
	filter: grayscale(100%);
}

.audio-box i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: larger;
	color: #16171a;
}

.small-audio-chatbox .stun-identicon-list img {
	height: 100%;
	width: 100%;
}

.paused-timer {
	visibility: hidden;
}

.small-audio-chatbox .control-panel .timer {
	min-width: 14rem;
	height: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.small-audio-chatbox .counter {
	color: #ff914d;
}

.small-audio-chatbox .control-panel {
	gap: 1.5rem;
}

.audio-box.speaking {
	border-color: #fb9532;
	animation: speaker-pulse 0.1s infinite;
}

@keyframes speaker-pulse {
	0%,
	100% {
		box-shadow: 0 0 20px 10px rgba(251, 149, 50, 0.5);
		border-color: #fb9532;
	}
	50% {
		box-shadow: 0 0 20px 10px rgba(255, 145, 77, 0.5);
		border-color: #ff914d;
	}
}

@media screen and (max-width: 900px) {
	.small-audio-chatbox .control-panel {
		padding-bottom: unset;
		padding: 1.5rem;
	}

	.small-audio-chatbox .control-panel .control-list {
		margin-bottom: unset;
		gap: unset;
		width: 100%;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 600px) {
	.small-audio-chatbox .control-panel {
		width: 100vw;
	}

	.small-audio-chatbox .control-panel .timer {
		min-width: unset;
	}

	.small-audio-chatbox .control-panel .control-list {
		gap: 1rem;
		justify-content: flex-end;
	}
}
