.game.twilight {
  .game-help-hidden {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0s 1s,
      opacity 1s linear;
  }

  .game-help-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

  /*.game-help-text {
    font-size: 2.25rem;
    padding-top: 10rem;
    margin-left: 19.167rem;
    transform: skew(-55deg);
    width: 13.333rem;
    min-width: 8.333rem;
    overflow: visible;
    line-height: 2.917rem;
    letter-spacing: 0.083rem;
    font-weight: bold;
}*/
}
